body {
  font-family: 'Lato', sans-serif;
}

.body-col {
  text-align: center;
}

.post-tile {

}

.post-title, .post-author, .post-date, .post-body {
  text-align: left;
}

.footer {
  clear: both;
  text-align: center;
}
