<div class="jumbotron">
  <div class="container">
    {{#link-to 'index'}}<h1 class="header-link">Dev Blog</h1>{{/link-to}}
  </div>
</div>

{{outlet}}

<div class="footer">
  <div class="container">
    <h3 class="footer-link">{{#link-to 'about'}}About{{/link-to}} | {{#link-to 'contact'}}Contact{{/link-to}}</h3>
  </div>
</div>
