<div class="col-md-6 body-col col-md-offset-3">
  <p>index.hbs</p>

    {{#each model as |post|}}
      {{post-tile post=post}}
    {{/each}}
</div>
<div class="col-md-3 side-col">
  <h3>All Posts</h3>
  {{#each model as |post|}}
    <li>{{post.title}}</li>
  {{/each}}
  {{post-new post=model save="save"}}
</div>
